h1 {
  color: #33FFC7;
  text-align: center;
}
h2 {
  color: green;
  font-style: italic;
  text-align: left;
}
h4 {
  color: indigo;
  text-align: left;
}
h3 {
  color: lightBlue;
  text align: left;
}
p {
  font-family: sans-serif;
}
.image{
  text-align: center;
}
body {
  background-color:808080; 
}
.image img{
  height: 400px;
  width: 400px;
  border-radius: 50%;
}
ul {
  line-height: 40px;
}
